@model BewareTask.Models.task
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h1>
    Beware Tasks!
</h1>



<div >
    @using (Html.BeginForm("CreateTask", "Task", FormMethod.Post))
    {
        //@Html.ValidationSummary()
        @Html.AntiForgeryToken()

        <div class="card">
            <div class="card-header">
                <div class="card-title" id="loginTitle">
                    <h3>Add new task</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.TaskName)
                    @Html.TextBoxFor(m => m.TaskName, new { @class = "form-control", @placeholder = "Type your task name here!" })
                </div>
               
                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-danger" id="btnLogin" value="AddTask" />
                </div>
            </div>
        </div>

    }

</div>



<h1>Your Task List</h1>
<table class="table table-bordered">
    <thead style="background-color:#ff8559">
        <tr>
            <th>No.</th>
            <th>Task</th>
            <th>Due Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @*@Html.Raw(ViewData["task"])*@
        @{
            var indexCount = 0;
        }
        @if (ViewData["taskList"] != null)
        {
            foreach (var item in ViewData["taskList"] as List<BewareTask.Models.task>)
            {
                indexCount++;
                <tr>
                    <td>@indexCount</td>
                    <td>@item.TaskName</td>
                    @if (item.deadline.Year == 1)
                    {
                        <td>-</td>
                    }
                    else
                    {
                        <td>@item.deadline</td>
                    }
                    <td>@Html.ActionLink("Edit", "Edit", "Task", new { id = @item.id }, null) | @Html.ActionLink("Delete", "DeleteTask", "Task", new { id = @item.id }, null)</td>
                </tr>
            }
        }
    </tbody>
</table>