@model BewareTask.Models.user

@{
    ViewBag.Title = "Register";
}

<form action="#" class="bg-white rounded pb_form_v1">
    <h2 class="mb-4 mt-0 text-center">Sign Up for Free</h2>
    <div class="form-group">
        <input type="text" class="form-control pb_height-50 reverse" placeholder="Fullname">
    </div>
    <div class="form-group">
        <input type="text" class="form-control pb_height-50 reverse" placeholder="Email">
    </div>
    <div class="form-group">
        <input type="text" class="form-control pb_height-50 reverse" placeholder="Password">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue" value="Register">
    </div>
</form>


<div class="row justify-content-md-center">
    <div class="col-md-5">
        @using (Html.BeginForm("CreateUser", "User", FormMethod.Post))
        {
            //@Html.ValidationSummary()
            @Html.AntiForgeryToken()

            <div class="card">
                <div class="card-header">
                    <div class="card-title">Register</div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.name)
                        @Html.TextBoxFor(m => m.name, "", new { @class = "form-control", @placeholder = "FullName" })
                        @Html.ValidationMessageFor(m => m.name, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.email)
                        @Html.TextBoxFor(m => m.email, "", new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.email, "", new { @class = "badge badge-danger" })
                        @if (ViewBag.error != null)
                        {
                            <span class="badge badge-danger">@ViewBag.error</span>
                        }
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.password)
                        @Html.PasswordFor(m => m.password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.password, "", new { @class = "badge badge-danger" })
                    </div>
                   
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-danger" value="Register" />
                    </div>
                </div>
            </div>

        }
    </div>
</div>